{% extends "Login/main.html" %}
  {% block title %}
    7 Wonders
    {% endblock %}
    {% block body %}
    <h1> Hello, {{ user.first_name }}</h1>
    <ul>
      <li>
      Currently Logged in as : {{ user.first_name }}
      </li>
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>

      <div class="container">
      <h1 class="middle">
        7 WONDERS OF THE WORLD
        </h1>
        <h3 class="middle p-3">1.  Taj Mahal — India</h3>

        <img src="https://hips.hearstapps.com/bpc.h-cdn.co/assets/17/25/1600x800/landscape-1498258128-seven-wonders-of-the-world-2.jpg?resize=980:*" alt="image" class="center">


        <h3 class="middle p-3">2.  Machu Picchu — Peru</h3>

        <img src="https://hips.hearstapps.com/bpc.h-cdn.co/assets/17/25/980x490/landscape-1498257625-machu-picchu.jpg?resize=980:*" alt="image" class="center">


        <h3 class="middle p-3">3.  Petra — Jordan</h3>

        <img src="https://hips.hearstapps.com/bpc.h-cdn.co/assets/17/25/980x490/landscape-1498257729-petra-jordan.jpg?resize=980:*" alt="image" class="center">


        <h3 class="middle p-3">4. The Great Wall of China — China</h3>

        <img src="https://hips.hearstapps.com/bpc.h-cdn.co/assets/17/25/980x490/landscape-1498257549-great-wall-of-china.jpg?resize=980:*" alt="image" class="center">


        <h3 class="middle p-3">5.  Chichén Itzá — Mexico</h3>

        <img src="https://hips.hearstapps.com/bpc.h-cdn.co/assets/17/25/980x490/landscape-1498257751-chichen-itza-mexico.jpg?resize=980:*" alt="image" class="center">


        <h3 class="middle p-3">6.  Christ the Reedemer Statue — Brazil</h3>

        <img src="https://hips.hearstapps.com/bpc.h-cdn.co/assets/17/25/980x490/landscape-1498257707-christ-redeemer-rio-brazil.jpg?resize=980:*" alt="image" class="center">

        <h3 class="middle p-3">7.  Roman Colosseum — Rome</h3>

        <img src="https://hips.hearstapps.com/bpc.h-cdn.co/assets/17/25/980x490/landscape-1498257651-roman-colosseum.jpg?resize=980:*" alt="image" class="center">

    </ul>
      {% endblock %}
